/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* 초기화 */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
}
a{
    text-decoration: none;
}
p{
    margin: 0.75rem 0;
}
.text-primary{
    color: #93cb52;
}

/* 메인 네브바 */
#navbar{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #333;
    color: white;
    padding: 1rem;
    z-index: 1;
}

.logo{
    color: white;
}

#navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a{
    color: white;
    padding: 0.75rem;
    margin: 0 0.25rem;
}
#navbar ul li a:hover{
    background-color: #93cb52;
    border-radius: 5px;
}

/* 쇼케이스 */
#showcase{
    background: #333 url(../img/wallpaper.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    color: white;
    position: relative;
}

#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 2em;
    /* 오버레이 : 쇼케이스와 같은 사이즈 */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
}

/* 공통 클래스 : 여러번 사용 */
.l-heading{
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}
.lead{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.btn{
    display: inline-block;
    color: white;
    background-color: #93cb52;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
}
.btn-dark{
    background-color: #333;
}

.container{
    max-width: 1100px;
    margin: auto;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
}
.text-center{
    text-align: center;
}
.py1{
    padding: 1.5rem 0;
}
.py2{
    padding: 2rem 0;
}
.py3{
    padding: 3rem 0;
}
.bg-light{
    background: #f4f4f4;
    color: #333;
}
.bg-dark{
    background: #333;
    color: #fff;
}
.bg-primary{
    background: #93cb52;
    color: #fff;
}

.p-1{
    padding: 1.5rem;
}
.p-2{
    padding: 2rem;
}
.p-3{
    padding: 3rem;
}
.list{
    margin: 0.5rem 0;
    list-style: none;
}
.list li{
    padding: 0.5rem 0;
    border-bottom: #444 dotted 1px;
}

/* 섹션 : 무엇을 하는가 */
.m-heading{
    margin: 25px;
}
#what .items{
    display: flex;
}
#what .item{
    flex: 1;
    text-align: center;
    padding: 1rem;
}
#what .items .item i{
    background-color: #93cb52;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    font-size: 2rem;
}

/* 섹션 : 우리는 누구인가? */
#who{
    display: flex;
}

#who div{
    flex:1;
}

#who .who-img{
    background: url('../img/people.jpg') no-repeat center center/cover;
}

/* 섹션 : 클라이언트 */
#clients .items{
    display: flex;
    justify-content: space-around;
}
#clients .items img{
    display: block;
    margin: auto 2px;
    width: 100px;
    margin-bottom: 20px;
}

/* 섹션 : 컨택트 */
#contact{
    display: flex;
}
#contact .map,
#contact .contact-form{
    flex: 1;
}
#contact .contact-form .form-group{
    margin: 0.75;
}
#contact .contact-form label{
    display: block;
}
#contact .contact-form input,
#contact .contact-form textarea{
    width: 100%;   
    padding: 0.5rem;
}
#contact .map{
    flex: 5;
}
#contact .contact-form{
    flex: 5;
}
